{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "react/jsx-one-expression-per-line": "off",
    "linebreak-style": "error",
    "global-require": "off",
    "semi": "warn",
    "arrow-body-style": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2
      }
    ],
    "no-unused-expressions": [
      "warn",
      {
        "allowTaggedTemplates": true
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"]
      }
    ]
  }
}
